@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    font-family: 'Roboto', 'PingFang TC', sans-serif;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(50%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 14s linear infinite;
    will-change: transform;
  }
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px ;
}